.product-image{
    min-width: 100%;
    /* height: 70%; */
    /* margin-bottom: ; */
}

.product-container{
    margin-top: 0.4%;
    margin-right: 0.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 1%;
    cursor: pointer;
    border: none;
    width: 300px;
}

.product-details-container{
    padding: 10px 0px 10px 0px;
}

.product-container:hover{
    transform: translateX(2px);
    box-shadow: 2px 2px gray;
}

.product-title{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1rem;
}

.add-to-cart{
    background-color: rgb(4, 4, 4);
    color:#ffffff;
    padding: 1rem;
    font-weight: bold;
    width: 290px;
}

.product-container:hover > .product-details-container > .add-to-cart  {
    transform: translatey(+5%);
    background-color: rgb(233, 154, 9);
  }

.price-header{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-span{
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 4px;
}

.minus-button:hover{
    transform: translateX(2px);
}

.quantity-element{
    padding: 2% 15%;
}

.quantity-button-container{
    display: flex;
    justify-content:space-around;
    font-size: 1.5rem;
    background-color: rgb(222, 220, 217);
    width: max-content;
    width: 290px;
    height: 55px;
    color: rgb(73, 70, 70);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
}

@media (max-width:776px) {
    .product-image{
        width: 10rem;
        height: 10rem;
    }
    
    .product-container{
        width: 100%;
        margin: 2%;
    }
}
