.admin-container{
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}


.user-email{
    font-weight: 900;
    font-size: 1.4rem;
    margin: 0px 0px -50px 170px;
    padding: 50px 0px 0px 0px;
    text-decoration: underline;
}