.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    margin: 22px 0% 0% 20%;
    padding-bottom: 5rem;
}

.home-container{
    display: flex;
    justify-content: space-around;
}

.search-container{
    width: 100%;
    padding-top: 34px;
    padding-bottom: 32px;
    background-color: rgb(239, 239, 238);
    position:sticky;
    top:20px;
    z-index: 3; 
}

.search-input{
    width: 260px;
    height: 3rem;
    padding: 1%;
    border: none;
    outline: none;
    margin: 60px 0px -100px 390px ;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.load-more-button{
    background-color: rgb(32, 32, 32);
    color: aliceblue;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    text-align: center;
    position: relative;
    top:-2%;
    float:right;
    right: 44%;
    margin-bottom: 5%;
}


.more-products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    margin: -4% 0% 4% 24%;
    padding-bottom: 5rem; 
}



.admin-button:hover{
    background-color:  rgb(233, 154, 9);
    color:"#fff";
}

@media (max-width:776px) {
    .products-container{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    
}


@media (max-width:968px) {
    .products-container{
        width: 110%
    }
    
    .home-container{
        flex-direction: column;
    }
}
