.nav-bar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top:0;
    background-color: rgb(235, 235, 235);
    padding-bottom: 1%;
    width: 100vw;
    z-index: 5;
}

.git-lab-button{
     background-color: black;
     padding: 1rem 1rem 1rem 0rem;
     color: aliceblue;
     border-bottom-right-radius: 2rem;
     font-size: 2rem;

}


.admin-button{
    padding: 12% 25px;
    background-color: black;
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    right: 150%;
    top:18%;
}
