

.bg-filter-container{
    position: fixed;
    top:-2rem;
    left:4rem;
    margin:11% 0% 0% 2%;
    
}


.buttons-container{
    width: 240px;
    background-size: cover;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.filter-buttons{
    margin: 0% 5% 0% 0%;
    font-size: 0.8rem;
    padding: 0.6rem;
    background-color: rgb(255, 255, 255);
}

.clear-button{
    margin: 0% 5% 0% 0%;
    font-size: 0.8rem;
    padding: 5%;
    background-color: rgb(255, 255, 255); 
    text-align: left;
}

.filter-buttons-active{
    background-color: rgb(160, 156, 156);
    color:#fff;
    margin: 5%;
    font-size: 1rem;
    border: 1px solid rgb(250, 248, 248);
    padding: 0.6rem;
    width: 200px;
    font-weight: bold;
}