@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  cursor: pointer;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(241, 241, 240);
}
